
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter&family=Lilita+One&family=Montserrat:wght@500&family=Poppins:wght@400;500&family=Source+Sans+3&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.main{
    width: 100vw;
    height: 300vh;
    background-color: #F1F2F4;
}
.nav{
    width: 100vw;
    height: 66px;
    background-color: #ffffff;
    padding: 0.5vw 10vw;
    display: flex;
}

.down-text span{
    font-size: 0.7vw;
    font-style: italic;
}
.down-text span:nth-child(1){
    margin-left: 2.2vw;
    color: #A1A6A1;
}
.search{
    width: 50vw;
    height: 40px;
    background-color: #F0F5FF;
    margin: 0.2vw 2vw;
    border-radius: 8px;
    display: flex;
}
.search input{
    border: none;
    background-color: #F0F5FF;
    color: #666666;
    width: 400px;
    font-size: 0.9vw;
}
i{
    padding: 0.5vw 0.7vw;
    font-size: 1vw;
    color: #717478;
}
.main-nav{
    display: flex;
    gap: 3vw;
    align-items: center;
    margin-left: 1.5vw;
    width: 40vw;
}
.account{
    display: flex;
    gap: 0.35vw;
}
p{
    font-size: 0.85vw;
}

.seller{
    display: flex;
    gap: 0.35vw;
}
.cart{
    display: flex;
    gap: 0.35vw;
}

.options{
    height: 126px;
    width: 85vw;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: #ffffff;
}
.option-main{
    width: 100%;
    height: 110px;
    margin: 5px 10px;
    display: flex;
    gap: 1.5vw;
    padding: 0.5vw 0vw 0.5vw 8vw;
    
}
.box{
    
    text-align: center;
    min-width: 110px;

}

.rolling-content{
    height: 265px;
    width: 85vw;
    margin: auto; 
    margin-top: 20px;
    background-color: #ffffff;
}

.rolling-slider{
    display: flex;
}

.electronics-main{
    display: flex;
    gap: 0.5vw;
}

.electronics{
    height: 350px;
    width: 70vw;
    margin: 7.45vw; 
    margin-top: 20px;
    background-color: #ffffff;
    padding: 1.3vw;
}
.electronics p{
    font-size: 1.1vw;
    font-weight: 600;
}
.products{
    display: flex;
    gap: 1vw;
}
.products div{
    margin-top: 2vw;
    width: 11vw;
    height: 12vw;
    border: 1px solid #E0E0E0 ;
    text-align: center;
}

.products-price{
    font-weight: 700;
}

.products img{
    margin-bottom: 0.95vw;
}

.blue-bg{
    width: calc(85vw - 70vw);
    margin-left: -5.65vw;
    margin-top: 5px;
}

.img-products {
    transition: transform 0.3s; /* Add a smooth transition effect to the image */
  }


.img-products:hover {
    transform: scale(1.1); /* Scale the image to 1.2 times its original size on hover */
  }

.products div:hover{
   cursor: pointer;
   
}

.option-main p:hover{
    color:#2886F1;
    cursor: default;
}
.account .icon img {
    transition: transform 0.3s;
}

.account:hover .icon img {
    animation: rotate 0.3s 1;
}

.second{
    margin-top: -6.5vw;
    width: 85vw;
}

.third{
    margin-top: -6.5vw;
    width: 85vw;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}





